.container *{
    color: #fff;
}

/* Botão para abrir o DropDown */
.container div > button{
    background: none !important;
    border: none;
}
.container div > button > i{
    font-size: 20px;
}

.container div > ul {
    background: #160B28;
    border: solid 2px #e5e5e5;
}

/* Perfil */
.container div > ul > :nth-child(1) > h5{
    font-size: 16px;
}

/* SetMode */
.container div > ul > :nth-child(3) > a{
    font-size: 14px;
}

/* Sair */
.container div > ul > :nth-child(4) > button{
    text-transform: uppercase;
    font-size: 14px;
}

@media (max-width: 768px) {
    /* Ajustes para telas menores que 768px */
    .container div > button > i {
      font-size: 18px; /* Reduz o tamanho do ícone do botão */
    }
    .container div > ul > :nth-child(1) > h5 {
      font-size: 14px; /* Reduz o tamanho da fonte do "Perfil" */
    }
    .container div > ul > :nth-child(3) > a,
    .container div > ul > :nth-child(4) > button {
      font-size: 12px; /* Reduz o tamanho da fonte dos links */
    }
  }