.container *{
    color: #fff !important;
}

/* Botão para abrir o DropDown */
.container div > button{
    background: none !important;
    border: none;
}
.container div > button > i{
    font-size: 20px;
}

/* DropDown */
.container div > ul {
    background: #160B28;
    border: solid 2px #fff;
}



  

/* Perfil */
.container div > ul > :nth-child(1) > h5{
    font-size: 16px;
}

/* SetMode */
.container div > ul > :nth-child(3) > a{
    font-size: 14px;
}
.container div > ul > :nth-child(3) > a:hover{
    color: #160B28 !important;
}
/* Sair */
.container div > ul > :nth-child(4) > a{
    text-transform: uppercase;
    font-size: 14px;
}

