################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/back-end/appAquaGuardians/appAquaGuardians/bin/Debug/net8.0
/back-end/appAquaGuardians/appAquaGuardians/obj/Debug/net8.0
/back-end/appAquaGuardians/.vs/appAquaGuardians
