################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/back-end/appAquaGuardians/.vs
/back-end/appAquaGuardians/.vs
/back-end/appAquaGuardians/appAquaGuardians/bin

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Assets/AssetStoreTols

.vs/

MemoryCaptures/
ExportedObj/
.consulo/
*.booproj
*.pidb
*.suo
*.user
*sln
*.userprefs
*.csproj
*.unityproj
*.dll
*.svd
*.exe
*.tmp
*.fbx
*.meta
*.unitypackage
*.lock
.DS_Store
.pidb.meta
sysinfo.txt
*.apk