################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/back-end/appAquaGuardians/appAquaGuardians/bin
/back-end/appAquaGuardians/appAquaGuardians/obj
/back-end/appAquaGuardians/.vs
