Body {
  background-image: url("./../../assets/Background.svg");
  object-fit: cover;
}

.Container {
  display: flex;
}

.Header {
  background-color: rgba(0, 135, 196, 0.4);
  height: 410px;
}

.Box {
  align-items: first baseline;
  padding: 1em;
}

.Title {
  margin: 18em 0em 0em 0em;
}

.Title p {
  font-family: "BabaPro";
  font-size: 2.6em;
  color: yellow;
}

.Card1 {
  display: flex;
  flex-direction: row;
  gap: 3.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Card2 {
  display: flex;
  flex-direction: row;
  gap: 3.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
