* {
  margin: auto;
  padding: auto;
}

.Page{
  background-image: linear-gradient(45deg, #160B28, #442575, #17DEE2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  background-color: rgb(22, 11, 40, 70%);
  width: 650px;
  height: 580px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgb(59, 141, 196) 10px 10px 20px; */
}

.Title {
  display: flex;
  padding: 0.8em;
}

.Title h2 {
  color: #17DEE2;
  font-size: 42px;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.Inputs input {
  background-color: transparent;
  color: white;
  width: 400px;
  height: 40px;
  border: 2px solid;
  border-color: white;
  border-radius: none;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  border-left: none;

  transition: 0.2s;
}

Input::placeholder {
  color: white;
}

.Inputs input:hover {
  box-shadow: 3px;
}

.Btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.divBtn {
  background-color: #10a7aa;
  width: 260px;
  height: 45px;
  margin-top: auto;
  border-radius: 6px;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: 0.4s;
  cursor: pointer;
}

.divBtn:hover {
  background-color: rgb(228, 141, 141);
  color: azure;
}

.Duvida {
  padding: 1em 0em 0em 0em;
}

.Duvida a {
  text-decoration: none;
  color: aquamarine;
}

@media (min-width: 767px) and (max-width: 1400px) {
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
  }
  .Inputs input {
    width: 260px;
  }
}

@media (max-width: 766px) {
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0px;
  }
  .Inputs input {
    width: 260px;
  }
}
