* {
  margin: auto;
  padding: auto;
}

.Container {
  background-color: rgb(65, 156, 216);
  width: 650px;
  height: 580px;
  border-radius: 14px;

  margin-top: 7.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  display: flex;
  padding: 0.8em;
}

.Title h2 {
  color: white;
  font-size: 42px;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.Inputs input {
  background-color: transparent;
  color: white;
  width: 400px;
  height: 40px;
  border: 2px solid;
  border-color: white;
  border-radius: none;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  border-left: none;

  transition: 0.2s;
}

Input::placeholder {
  color: white;
}

.Inputs input:hover {
  box-shadow: 3px;
}

.divBtn {
  background-color: brown;
  width: 250px;
  height: 45px;
  margin-top: auto;
  border-radius: 6px;

  display: flex;

  transition: 0.4s;
  cursor: pointer;
}

.divBtn:hover {
  background-color: rgb(228, 141, 141);
  color: azure;
}

.Duvida {
  padding: 1em 0em 0em 0em;
}

.Duvida a {
  text-decoration: none;
  color: aquamarine;
}

@media (min-width: 767px) and (max-width: 1400px) {
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 640px;
  }
  .Inputs input {
    width: 220px;
  }
}

@media (max-width: 766px) {
  .Container {
    display: flex;
    align-items: center;
    justify-content: center;

    scale: 0.7;
    width: 300px;
  }
  .Inputs input {
    width: 180px;
  }
}
