.container {
  background-color: rgba(0, 135, 196, 0.4);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.agua {
  font-family: "BabaPro";
}

.rotas a {
  color: #160b28;
  text-decoration: none;
  font-weight: 600;
  font-family: "Evolventa", sans-serif;
}

.rotas {
  display: flex;
  align-items: center;
  gap: 60px;
}

u {
  text-decoration: none;
  transition: 0.4s;
}

u:hover{
  text-decoration: underline #a1ffe0 2px;
  text-underline-offset: 2.5px;
}

@media (min-width: 340px) and (max-width: 880px)  {
  .container {
    flex-direction: column;
    height: auto;
  }
  .agua{
    margin-top: 30px;
    font-size: 23px;
  }
  .rotas{
    flex-direction: column;
    margin-top: 50px;
    background-color: rgba(0, 135, 196, 0.6);
    padding: 40px;
    border-radius: 20px;
    font-size: 16px;
    gap: 30px;
  }
  u{
    text-decoration: none;
  }
}
