/* Configurações gerais */
.container nav{
  background: #160B28 !important;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 500;
}

/* Logo do AquaGuardians */
.aquaGuardians{
  text-decoration: none;
  font-family: "BabaPro" !important;
  font-weight: 600;
  font-size: 26px !important;
  color: #09BDE6 !important;
}

/* Botão para abrir a NavBar em Mobile */
.container nav > :nth-child(2){
  background: none;
  border: none;
}
.container nav > :nth-child(2) i{
  font-size: 26px;
  color: #fff;
}

/* Nav no Mobile */
.container nav > :nth-child(3){
  background: #160B28;
  color: #fff;
}

/* Configurações de perfil no Desktop  */
.container nav > :nth-child(4) h5 {
  font-size: 14px;
}

/* Cnfigurações de Perfil no Mobile */
.container nav > :nth-child(3) div > h5{
  font-size: 14px;
}
.container nav > :nth-child(3) div > button{
  background: none;
  border: none;
  width: 1.85em;
  height: 1.85em;
}
.container nav > :nth-child(3) div > button > i{
  color: #fff;
  font-size: 18px;
}

/* Links na NavBar */
.container a {
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container nav > :nth-child(3) div > h5{
    font-size: 12px;
  }
  .container nav > :nth-child(3) div > button{
    width: 1.5em;
    height: 1.5em;
  }
  .container nav > :nth-child(3) div > button > i{
    font-size: 16px;
  }
  /* Ajustar o tamanho da fonte dos links */
  .container a {
    font-size: 12px;
  }
  /* Ajustar o tamanho da fonte do nome do administrador */
  .container nav > :nth-child(4) h5,
  .container nav > :nth-child(3) div > h5 {
    font-size: 12px;
  }
}