.Header tr th{
    color: white;
    background-color: #160B28;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.Row{
    background-color: #160B28;
    
}
.Row tr td{
    color: #160B28;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    border: solid 1px #DAD5E7;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}

.Row tr th{
    border: solid 1px #DAD5E7;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
}

.tabelas{
    margin: 20px 3%;
}
