.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 2%;
  flex-direction: column;
  gap: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  color: #160b28;
  padding: 8px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  padding: 1%;
}

th {
  background-color: #160b28;
  color: white;
  text-transform: uppercase;
}

button {
  border: none;
  margin: 2px 2px;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  transition: 0.5s;
}

.create{
  padding: 10px 90px;
  border: solid 2px black;
  background-color: #A1FFE0;

}

button:hover{
  scale: 1.03;
}

@media (min-width: 350px) and (max-width: 780px) {
  .container{
    gap: 10px;
  }
  
  table{

  }

  th{
    font-size: 10px;
    padding: 5px;  
  }

  td{
    font-size: 10px;
  }

  .create{
    padding: 5px 45px;
    font-size: 18px;
  }

}