.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Ajuste conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .closeButton {
    margin-top: 10px;
    background: rgb(250, 10, 20);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  